h1{
    text-align: center;
    font-size: 2em;
    padding-bottom: 5vh;
}

.centra_testo{
    text-align: center;
    color: #111; font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 72px;
}

.card{
     width: 70%;
     display: inline-block;
     box-shadow: 0.34vh 0.34vh 20px black;
     border-radius: 0.85vh; 
     margin: 5% 15%;
}

.allinea{
    display: inline-block;
    text-align: left;
}
