/******************************STILE MODAL UTENTE LOGGATO*******************************************/

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn2 {
    width: auto;
    padding: 10px 18px;
    background-color: #822222;
}

.bottoni-modal-utente {
    background-color: #301a08;
}

/* Center the image and position the close button */
.imgcontainer2 {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar2 {
    width: 40%;
    border-radius: 50%;
}

.container2 {
    padding: 16px;
}

.container2 p{
  position: relative;
  width: 100%;
  text-align: center;
}

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content2 {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close2 {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate2 {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn2 {
       width: 100%;
    }
}

/************STILE RADIO BUTTON MODAL REGISTRAZIONE**********************/

/* per new line tra sesso em radio button */
label span {
    display: block;
}

/************STILE BOTTONI MODAL UTENTE**********************/

button {
    background-color: #301a08;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity:1;
}